@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@300;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Work Sans;
}
:root {
    --pink:#FF42A5;
    --dark:#0B0223;
    --grey:#534C64;
    --auqa:#4EC5F7;
}


/* ----------------Shared styles-------------  */
.centered-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100%;
}
a{
    min-width: fit-content;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    /* text-transform: uppercase; */
}
.dark{
    color: var(--dark);
}
.pink{
    color: var(--pink);
}
.gradient{
    background-image: none,linear-gradient(180deg, #F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.btn-main{
    display: inline-flex;
    padding: 1.3125rem 2.5rem;
    border-radius: 3rem;
    color: white;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2rem 0;
}
.plain-text{
    color: #534C64;
    /* text-align: right; */
    font-size: 1.125rem;
    line-height: 1.875rem; /* 166.667% */
}

/* ______________________Header_________________ */
nav{
    display: flex;
    gap: 10%;
    /* border: 1px solid red; */
    padding: 2rem 0;
    margin-bottom: 1rem;
}
nav > *{
    min-width: min-content;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    gap: 1rem;
    /* border: 1px solid blue; */
}

.logo > h1{
    text-align: center;
    font-size: 2.81rem;
    font-weight: 700;

}
.logo img{
    width: 5.37756rem;
    height: 2.5rem;
}
.logo h1 span{
    color: var(--pink);
    
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    gap: 1.3rem;
    align-items: center;
    width: 50%;
    /* border: 1px solid red; */
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

#follow{
    
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.4rem 1.5rem;
}
.follow p{
    min-width: fit-content;
    margin-right: 0.8rem;
}

.nav-right img{
    display: block;
    width: 2.1rem;

}
/* ------------------BANNER---------------------- */
.banner-container{
    /* background-color: lightgreen; */
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

}
.banner{
    display: flex;
    /* border: 1px solid blue; */
    /* gap: 2%; */

    
}
.banner-left{
    width:58%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-left h2{
    font-size: 5.9375rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.banner-left p{
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 1rem;
    
}
.article-box{
    flex-direction: column;
    min-width: fit-content;
    width:60%;
    /* border: 1px solid red; */
}

.button-container button{
    margin-right: 1rem;
}
.pink-btn{
    background-color: var(--pink);
}
.aqua-btn{
    background-color: var(--auqa);
}

.banner-right{
    width:42%;
}

/* ______________________Main____________________ */
.gamer-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 6rem;
}
.gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-left{
    width: 60%;

}


.gamer-right{
    width: 40%;
    text-align: right;
    gap: 1rem;
    padding: 2rem 0;
}
.gamer-right >* {
    margin: 1rem 0;
}
.gamer-right > h2{
    font-weight: 700;
    margin-bottom: 1.5rem;
    /* margin-top: 0; */
}
.gamer-right > .plain-text{
    min-width: fit-content;
}
.our{
    color: #534C64; 
    font-size: 1.66rem;
    font-weight: 700;
}

/* --------------FunnnY------------------- */
.funny h2, .funny p{
    text-align: center;
    margin: auto;
}
.funny > p{
    margin: 1rem 0 2rem;
}

.video-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.7rem;
    /* border: 2px solid red; */    
}
figure figcaption{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem; /* 150% */

    /* border: 1px solid red; */
}
/* .bg{
    background-color: #000;
    border-radius: 0rem;
    
} */
/* ---------------PLAY---------------- */
.play{
    margin: 6rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}
.play-left{
    width: 50%;
    position: relative;
}

.play-right{
    width: 40%;
}
.play-right p{
    margin-top: 1rem;
}

.layer{
    width: 40%;
    position: absolute;
    bottom: -4rem;
    right: -6rem;
}

.play-copy{
    flex-direction: row-reverse;
}

.play-copy .layer{
    width: 40%;
    position: absolute;
    bottom: -4rem;
    left: -6rem;
}


@media screen and (max-width: 767px) {

    nav,.nav-right{
        flex-direction: column;
    }
    nav{
        align-items: center;
        margin-bottom: 0;
        scale: 0.7;
        padding: 0;
        
    }
    .nav-right{
        margin-top: 3.5rem;
        margin-bottom: 4.8rem;
    }
    #follow{
        margin-top: 2rem;
        width: 100%;
        justify-content: center;
    }
    .banner{
        flex-direction: column-reverse;
        
    }
    .banner > *{
        width: 80%;
        margin: 0 auto;
    }
    .article-box{
        scale: 0.6;
    }
    .button-container{
        display: flex;
        justify-content: space-between;
    }
    .banner-container{
        /* border: 1px solid green; */
        background-image: none;
    }
    .article-box{
        /* border: 1px solid red; */

    }
    .banner-left{
        /* border: 1px solid blue; */
        width: 100%;
        height: fit-content;
        background-image: url(./images/Group\ 14.png);
        background-size: contain;
        background-repeat: repeat-y;
    }

    /* ---------------MAIN--------------- */
    /* ------Gamer_-------- */
    .gamer{
        flex-direction: column;
        width: 100%;
    }
    .gamer>*{
        width: 100%;
    }
    .gamer-right{
        margin-top: -4rem;
        padding: 0;
        text-align: center;
        scale: 0.7;
    }
    .gamer-container{
        background: none;
        margin-bottom: 0;
    }
    .our{
        white-space: nowrap;
        font-size: 1.2rem;
    }
    /* --------------Funny---------------- */
    .section-title{
        font-size: 2rem;
    }
    .video-container{
        grid-template-columns: repeat(1,1fr);
        width: 85%;
        margin: auto;
        scale: 0.8;
    }
    .funny{
        padding: 0;

    }
    .funny h2{
        font-size: 1.55rem;
    }
    .funny > p{
        font-size: 0.6rem;
        margin: 0rem auto -5rem auto;
    }
    /* ------------Play----------- */
    .play{
        margin: 0 auto;
        flex-direction: column-reverse;
        text-align: center;
        scale: 0.8;
    }
    .play > *{
        width: 90%;
    }
    .play-left h2{
        font-size: 1.5rem;
    }
    .play-right > p{
        font-size: 1rem;
    }
    .play-right{
        scale: 0.7;
    }


}


/* ---------------Tablet Bonus------------- */


@media screen and (min-width: 768px) and (max-width: 1023px){
    
}